{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header bg-info text-white">
                        <h4 class="text-center mb-0">Agregar Vehículo</h4>
                    </div>
                    <div class="card-body">
                      <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info">Agregar</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}