{% extends "base.html" %}

{% block content %}
<h1>Catálogo de Vehículos</h1>
<section class="py-5 bg-light text-center">
    <div class="container">
        <h2 class="mb-4"></h2>
        <p class="mb-5">Vehículos MEH, gran variedad, autos con las 3B.</p>
        <a href="#contacto" class="btn btn-primary btn-lg">Contáctanos</a>
    </div>
</section>

<section id="servicios" class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h3>Nuevos</h3>
                <p>Además tienen garantía de fábrica.</p>
            </div>
            <div class="col-md-4">
                <h3>Usados</h3>
                <p>Usados, pero arreglados...</p>
            </div>
            <div class="col-md-4">
                <h3>Financiamiento</h3>
                <p>need money? te podemos prestar.</p>
            </div>
        </div>
    </div>
</section>

<section id="contacto" class="py-5 bg-dark text-light">
    <div class="container">
        <h2 class="text-center mb-4">Contáctanos</h2>
        <form>
            <div class="row mb-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Nombre" required>
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" placeholder="Correo Electrónico" required>
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows="5" placeholder="Mensaje" required></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</section>
{% endblock  %}